<nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="margin-bottom: 25px; background: white; width: fit-content;">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item" ><a routerLink="/tags">Tags</a></li>
      <li class="breadcrumb-item" aria-current="page">Add Tag</li>
    </ol>
  </nav>

  <h2><strong><i class="fa fa-tag" style="margin-top: 25px;"></i>&nbsp;Add Tag</strong></h2>
  <div class="row">
    <div class="col-md-10 " style="margin: 10px;">
      <div class="card "  style="padding: 15px;">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid &&postTag()" novalidate class="tag-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"
                     id="title"
                     class="form-control"
                     name="title"
                     placeholder="Title"
                     [(ngModel)]="model.title"
                     #title="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && title.invalid }"
                     required/>
            </div>
                     <div *ngIf="f.submitted && title.invalid" class="invalid-input">
                      <!-- individual validation errors -->
                      <div *ngIf="title.errors?.required">Title is required</div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">
                        <span> Save Tag</span>
                      </button>
        </form>
      </div>
    </div>
  </div>
